<div class="main-container">
    <p>bulk-upoad-modal works!</p>
<h2>Bulk Upload Leads</h2>

<input 
  type="file" 
  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  (change)="onFileSelected($event)"
/>

<div *ngIf="fileName">
  <p>Selected File: <strong>{{ fileName }}</strong></p>
  <button (click)="parseFile()">Preview Data</button>
</div>

<!-- Show preview table -->
<table *ngIf="parsedLeads.length > 0"  style="margin-top: 20px;">
  <thead>
    <tr>
      <th>Lead ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Campaign</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lead of parsedLeads">
      <td>{{ lead.leadId }}</td>
      <td>{{ lead.name }}</td>
      <td>{{ lead.email }}</td>
      <td>{{ lead.phone }}</td>
      <td>{{ lead.campaign }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="parsedLeads.length > 0">
  <button (click)="uploadLeads()">Upload Leads</button>
</div>

</div>